*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

button{
    padding: 20px;
    margin:  auto ;
    width: 150px;
height: 50px;

}
input{
        padding: 20px;
    margin:  10px ;
    width: 300px;
height: 50pz;

}