*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

button{
    padding: 20px;
    /* margin:  auto ; */
    width: 150px;
height: 50px;
}

input{
    padding: 20px;
    margin: 10px;
}

table, td{
    border: 2px solid black;
}