*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    padding: 20px;
    /* margin:  auto ; */
    width: 150px;
height: 50px;
}

