*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

button{
    padding: 20px;
    margin:  auto ;
    width: 150px;
height: 50;

}

div{
    width: 300px;
    height:300px;
    border: 2px solid black;
    margin: auto;
}