*{
    padding: 0;
    margin:0;
    box-sizing: border-box;

}

body{
    background-color: blueviolet;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.print_message{
    width: 600px;
    padding: 20px 15px;
    border: 2px solid #6f6f6f;
    background-color: #f6f6f6;
}
input,button{
width: 100%;
height: 40px;
padding: 5px;
margin: 5px;
}
button{
color: white;
background-color: blueviolet;
font-size: 20px;
cursor: pointer;
opacity: 0.7;
border: 0;
border-radius: 15px;
transition: 0.5s;
font:bold;
}
button:hover{
    opacity: 1;
}
p{
color: green;
margin: 5px 0 0 0;
font-size: 20px;
}